@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Customer";
}

@model IEnumerable<PlumbingService.DTOs.JobDTO>


<div class="form-row">
    @foreach (var job in Model)
    {
        <div class="form-group col-sm-6">
            <div class="card" style="width: 18rem;">
                <img style="border-radius: 30%;" src="~/myImage/banner2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b>@Html.DisplayFor(data => job.CreationTime)</b>
                    <b>@Html.DisplayFor(data => job.JobReference)</b>
                    <b>@Html.DisplayFor(data => job.JobStatus)</b>
                    <b>@Html.DisplayFor(data => job.JobType)</b>
                    <p class="card-text">@Html.DisplayFor(data => job.Description)</p>
                </div>
            </div>
        </div>
    }
</div>